{% extends 'webapp/base.html' %}
{% load static %}

{% block content %}

<h5>Witaj, {{user}}! 👋</h5>
<hr>
<a class="btn btn-outline-primary btn-md" href="{% url 'create_record' %}">Utwórz nowy rekord&nbsp;&nbsp;<i data-feather="folder-plus"></i></a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a class="btn btn-outline-warning btn-md" href="{% url 'import_data' %}">Importuj dane&nbsp;&nbsp;<i data-feather="upload"></i></a>
&nbsp;&nbsp;&nbsp;
<a class="btn btn-outline-warning btn-md" href="{% url 'export_data' %}">Eksportuj dane&nbsp;&nbsp;<i data-feather="download"></i></a>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
<a class="btn btn-outline-secondary btn-md" href="{% url 'update_coordinates' %}">Aktualizuj współrzędne GPS&nbsp;&nbsp;<i data-feather="globe"></i></a>

<hr>

<table class="table table-light table-hover">
    <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Data zakupu</th>
            <th scope="col">Nazwa produktu</th>
            <th scope="col">Numer seryjny</th>
            <th scope="col">Rewizja</th>
            <th scope="col">Imię i nazwisko klienta</th>
            <th scope="col">Adres</th>
            <th scope="col">Nr telefonu</th>
            <th scope="col">Email</th>
            <th scope="col">Nazwa aukcyjna</th>
            <th scope="col">Dodatkowe informacje</th>
            <th scope="col">Szerokość geograficzna</th>
            <th scope="col">Długość geograficzna</th>
            <th scope="col">Data utworzenia</th>

            <th scope="col">Wyświetl</th>
        </tr>
    </thead>

    <tbody>
        {% if records %}
            {% for record in records %}
            <tr>
                <td>{{record.id}}</td>
                
                <td>{{record.purchase_date}}</td>
                <td>{{record.product_name}}</td>
                <td>{{record.serial_number}}</td>
                <td>{{record.revision}}</td>
                <td>{{record.customer_first_name}} {{record.customer_last_name}}</td>
                <td>{{record.address_street}} {{record.address_building}}/{{record.address_apartment}}<br>
                    {{record.address_postal_code}} {{record.address_city}}<br>
                    {{record.address_country}}
                </td>
                <td>{{record.phone_number}}</td>
                <td>{{record.email}}</td>
                <td>{{record.auction_name}}</td>
                <td>{{record.additional_info}}</td>
                <td>{{record.gps_latitude}}</td>
                <td>{{record.gps_longitude}}</td>
                <td>{{record.creation_date}}</td>

                <td>
                    <a class="btn btn-success btn-md" href="{% url 'view_record' record.id %}"><i data-feather="search"></i></a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        if ($.fn.DataTable) {
            $('.table').DataTable({
                language: { url: 'https://cdn.datatables.net/plug-ins/2.1.0/i18n/pl.json' },
                pagingType: "simple_numbers",
                pageLength: 10,
                lengthChange: true,
                lengthMenu: [10, 25, 50, 100],
                autoWidth: true,
                layout: {
                    topStart: {
                        buttons: [
                            'copy',
                            'print',
                            {
                                extend: 'spacer',
                                style: 'bar',
                                text: 'Eksportuj:'
                            },
                            'csv',
                            'excel',
                            {
                                extend: 'pdf',
                                text: 'PDF',
                                exportOptions: {
                                    columns: ':not(:nth-last-child(-n+2))'
                                },
                                customize: function(doc) {
                                    var tableNode = $('.table')[0];
                                    var width = $(tableNode).width();
                                    var height = $(tableNode).height();
                                    var ratio = width / height;

                                    var pageSize = ratio > 1 ? 'A4' : 'LETTER';
                                    var orientation = ratio > 1 ? 'landscape' : 'portrait';

                                    doc.pageSize = pageSize;
                                    doc.pageOrientation = orientation;

                                    var fontSize = Math.min(10, Math.max(14, Math.floor(width / 75)));
                                    doc.defaultStyle.fontSize = fontSize;
                                    doc.styles.tableHeader.fontSize = fontSize + 2;

                                    // Remove fixed column widths for PDF export
                                    delete doc.content[1].table.widths;

                                    doc.pageMargins = [15, 15, 15, 15];

                                    // Add page count at the bottom
                                    doc['footer'] = (currentPage, pageCount) => {
                                        return {
                                            columns: [
                                                { text: 'Strona ' + currentPage.toString() + ' z ' + pageCount, alignment: 'center' }
                                            ],
                                            margin: [15, -15, 15, 15]
                                        };
                                    };
                                }
                            },
                            {
                                extend: 'spacer',
                                style: 'bar',
                                text: 'Liczba rekordów:'
                            },
                            'pageLength'
                        ]
                    }
                }
            });
        } else {
            console.error("DataTable plugin not loaded.");
        }
    });
</script>

{% endblock %}