{% extends 'webapp/base.html' %}

{% block content %}
    <body>
        <br>
        <br>

        <div class="text-center">
            <h1>Django CRM</h1>
            <br>
            <h2>Zarządzaj bazą danych</h2>
            <br>
            <hr>
            <br>

            <div class="text-center">
                <a class="btn btn-secondary" type="button" href="{% url 'register' %}">Zarejestruj się</a>
            </div>
            <br>
            <div class="text-center">
                <a class="btn btn-primary" type="button" href="{% url 'user_login' %}">Zaloguj się</a>
        </div>

    </body>
{% endblock %}