<nav class="navbar navbar-expand-lg bg-dark justify-content-center">

    <a class="navbar-brand main-heading" href="{% url '' %}"> &nbsp; Django CRM</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            &nbsp; &nbsp; &nbsp;
            
            {% if user.is_authenticated %}

            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Panel kontrolny &nbsp;<i data-feather="home"></i></a></li>

            &nbsp; &nbsp; &nbsp;

            <li class="nav-item"><a class="nav-link" href="{% url 'user_logout' %}">Wyloguj się &nbsp; <i data-feather="log-out"></i></a></li>

            {% else %}

            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Zarejestruj się &nbsp&nbsp<i data-feather="user-plus"></i></a></li>

            &nbsp; &nbsp; &nbsp;

            <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}">Zaloguj się &nbsp&nbsp<i data-feather="log-in"></i></a></li>

            {% endif %}

            &nbsp; &nbsp; &nbsp;

            <!-- Theme Dropdown for All Users -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Motyw &nbsp&nbsp<i data-feather="columns"></i></a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=cerulean">Cerulean</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=cosmo">Cosmo</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=cyborg">Cyborg</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=darkly">Darkly</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=flatly">Flatly</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=journal">Journal</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=litera">Litera</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=lumen">Lumen</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=lux">Lux</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=materia">Materia</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=minty">Minty</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=morph">Morph</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=pulse">Pulse</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=quartz">Quartz</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=sandstone">Sandstone</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=simplex">Simplex</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=sketchy">Sketchy</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=slate">Slate</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=solar">Solar</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=spacelab">Spacelab</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=superhero">Superhero</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=united">United</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=vapor">Vapor</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=yeti">Yeti</a></li>
                    <li><a class="dropdown-item" href="{% url 'change_theme' %}?theme=zephyr">Zephyr</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>