{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container bg-light shadow-lg p-3 mb-5 rounded form-layout">
        <h2>Modyfikuj rekord</h2>
        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            <!-- Address search field -->
            <div class="form-group">
                <label for="address-search">Wyszukaj adres:</label>
                <input type="text" id="address-search" class="form-control">
                <ul id="address-results" class="list-group mt-2" style="display: none;"></ul>
            </div>
            
            {{form|crispy}}
            <div class="btn-group w-100" role="group">
                <a href="{% url 'dashboard' %}" class="btn btn-secondary w-50 p-2">Anuluj &nbsp&nbsp<i data-feather="x"></i></a>
                <button type="submit" class="btn btn-primary w-50 btn-block p-2">Modyfikuj &nbsp&nbsp<i data-feather="edit-3"></i></a></button>
            </div>
        </form>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        console.log('Document ready');
        const addressSearch = $('#address-search');
        const addressResults = $('#address-results');
    
        addressSearch.on('input', function() {
            const query = $(this).val();
            console.log('Input detected:', query);
            
            if (query.length > 2) {
                console.log('Query length > 2, making AJAX call');
                $.ajax({
                    url: '{% url "nominatim_search" %}',
                    data: { 'q': query },
                    success: function(data) {
                        console.log('AJAX success, data:', data);
                        addressResults.empty();
                        if (data.length > 0) {
                            data.forEach(function(item) {
                                addressResults.append(`<li class="list-group-item" data-address="${item.display_name}" data-lat="${item.lat}" data-lon="${item.lon}">${item.display_name}</li>`);
                            });
                            console.log('Showing results');
                            addressResults.show();
                        } else {
                            console.log('No results, hiding dropdown');
                            addressResults.hide();
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.error('AJAX error:', textStatus, errorThrown);
                    }
                });
            } else {
                console.log('Query too short, hiding results');
                addressResults.hide();
            }
        });
    
        // Handle click on address result
        addressResults.on('click', 'li', function() {
            const selectedAddress = $(this).data('address');
            const lat = $(this).data('lat');
            const lon = $(this).data('lon');
    
            // Fill in the address search field
            addressSearch.val(selectedAddress);
    
            // Fill in other form fields
            fillAddressFields(selectedAddress, lat, lon);
    
            // Hide the results
            addressResults.hide();
        });
    
        function fillAddressFields(address, lat, lon) {
            // Split the address into components
            const components = address.split(', ');
    
            // Attempt to fill in fields based on address components
            // Note: This is a basic implementation and may need to be adjusted based on the exact format of addresses returned by Nominatim
            $('input[name="address_street"]').val(components[0] || '');
            $('input[name="address_city"]').val(components[components.length - 3] || '');
            $('input[name="address_postal_code"]').val(components[components.length - 2] || '');
            $('input[name="address_country"]').val(components[components.length - 1] || '');
    
            // Fill in GPS coordinates
            $('input[name="gps_latitude"]').val(lat);
            $('input[name="gps_longitude"]').val(lon);
    
            // Clear other address fields that we don't have specific data for
            $('input[name="address_building"]').val('');
            $('input[name="address_apartment"]').val('');
    
            console.log('Address fields filled');
        }
    });
    </script>
{% endblock %}