{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    <div class="container bg-light shadow-lg p-3 mb-5 rounded form-layout">
        
        <h3> Zaloguj się </h3>
        <hr>

        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{form.username|as_crispy_field}}
            <br>
            {{form.password|as_crispy_field}}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">Zaloguj się &nbsp&nbsp<i data-feather="key"></i></a></button>
        </form>

        <br>
        <br>
        <hr>

        <div class="text-center">
            <p>Nie mam konta</p>
            <a href="{% url 'register' %}">Zarejestruj się</a>
        </div>
    </div>
    <br>
</body>

{% endblock %}
