.form-layout {
    border-radius: 20px;
    width: 500px;
}

/* Add custom styles for form inputs and the additional info box */
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="date"], .custom-input-class, textarea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, spread radius, color */
    border: none; /* Remove the border if you don't want it */
}